BuildTimeLogger.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BuildTimeLogger.xcodeproj/project.xcworkspace/xcuserdata/marcin.religa.xcuserdatad/UserInterfaceState.xcuserstate
BuildTimeLogger.xcodeproj/xcuserdata/marcin.religa.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BuildTimeLogger.xcodeproj/xcuserdata/marcin.religa.xcuserdatad/xcschemes/BuildTimeLogger.xcscheme
BuildTimeLogger.xcodeproj/xcuserdata/marcin.religa.xcuserdatad/xcschemes/xcschememanagement.plist
